# Python virtual environment
.venv/
venv-py310/
venv/
Open3D/
motion-capture-env/
.venv312/

# Python cache
__pycache__/

# Output files and media
*.mkv
*.mp4

# IDE and OS files
.vscode/
.idea/
*.DS_Store